body
{
	padding: 0;
	margin: 0 ;
	background:#22282F;
}
* {
	box-sizing:border-box;
}

a {
	color:#323A46;
	text-decoration:none;
}
a:hover{
	background:#323A46;
	color:#E9F0F5;
}
#container {
	width:100%;
	padding: 0;
	margin: 0 auto ;
	font-family: sans-serif;
}

#header
{
	margin: 0;
	padding: 20px;
	background: #AB3625;
	height:50px;
	text-align:center;
}

#header h1 {
	margin: 0;
	color: #E9F0F5;
	text-transform:uppercase;
}

#navigation
{
	float: left;
	width: 100%;
	background: #22282F;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #E9F0F5;
	background: #5E1E14;
	text-decoration: none;
	border-right: 1px solid #AB3625;
	transition:0.3s;
}

#navigation li a:hover { background: #AB3625; }

#navigation li a:active {
	background: #912E20;
}

#edito
{
	float: left;
	padding: 2%;
	margin: 1%;
	width: 93%;
	background-color: #E9F0F5;
	border: 1px solid #999999;
	-webkit-box-shadow: 5px 3px 3px #0a182e;
	box-shadow: 5px 3px 3px #0a182e;
}

#edito h2
{
	color: #EB4A33;
	font-size: 160%;
	margin: 0 0 .5em;
}

div.element
{
	float: left;
	width: 45.4%;
	min-width: 400px;
	height: 400px;
	overflow-y: scroll;
	margin: 1%;
	padding: 1%;
	background-color: #E9F0F5;
	border: 1px solid #999999;
	-webkit-box-shadow: 5px 3px 3px #0a182e;
	box-shadow: 5px 3px 3px #0a182e;
}

div.element img
{
	width: 98%;
	padding-bottom:10px;
	margin:0 1%;
}

p
{
	text-align: justify;
	margin: 0 10px 10px;
}

h2,h3
{
	text-align: center;
	color:#EB4A33;
}

#footer
{
	clear: both;
	color: #E9F0F5;
	background: #AB3625;
	text-align: left;
	font-weight: bold;
	padding: 20px;
	height: 1%;
}
